<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prototype.cashlesspayment">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.prototype.cashlesspayment.SelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.prototype.cashlesspayment.TopupActivity" />
        <activity android:name="com.prototype.cashlesspayment.BuyActivity" />
        <activity android:name="com.prototype.cashlesspayment.MainActivity" />
        <activity android:name="com.prototype.cashlesspayment.ShowQRCodeActivity" />
        <activity android:name="com.prototype.cashlesspayment.PanitiaActivity" />
        <activity android:name="com.prototype.cashlesspayment.ScanActivity" />
        <activity android:name="com.prototype.cashlesspayment.SellerActivity" />
        <activity android:name="com.prototype.cashlesspayment.PanitiaTopupActivity"></activity>
    </application>

</manifest>